<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
    <h1>Enter your text below:</h1>
    <form action="/analyze/" method="get">
        <textarea name="text" style="margin:0px; width: 1119px; height: 230px;"></textarea>
        <br>
        <input type="checkbox" name="remove_punctuation"> Remove Punctuation <br>
        <input type="checkbox" name="uppercase"> Uppercase <br>
        <input type="checkbox" name="new_line_remover"> New line remover <br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>